<h2>User Details</h2>
<p><%= user.first_name %> <%= user.last_name %></p>
<p><%= user.email_address %></p>
<p><%= user.password %></p>
<a class="btn btn-default" id="profile" role="button" data-id='<%= user.id %>'>Update profile</a>
